body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

#searchHistory {
    text-align: left;
    max-width: 200px;
}

#mainContent {
    flex-grow: 1;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
}

.movie-poster {
    max-width: 100%;
    height: auto;
}

#retryButton {
    display: none;
}

#trailerButton {
    margin-bottom: 20px;
    border-radius: 5px;
}

#trailer {
    display: none;
}
